local rj = false
local plr = game.Players.LocalPlayer

function rejoin()
    if rj then return end
    rj = true
    plr:Kick("\nRejoining...")
    wait()
    task.spawn(function()
        while true do
            game:GetService("TeleportService"):Teleport(game.PlaceId, plr)
            task.wait(1)
        end
    end)
end

game:GetService("GuiService").ErrorMessageChanged:Connect(function()
    rejoin()
end)

task.spawn(function()
    while true do
        pcall(function()
            local p = #game.Players:GetPlayers()
            if p <= 4 then
                rejoin()
            end
        end)
        game:GetService("RunService").Heartbeat:Wait()
    end
end)

game.Players.LocalPlayer.OnTeleport:Connect(function(State)
    if queueteleport then
        queueteleport('githuba yuklemen lazim brocaco')
    end
end)
